@media screen and (max-width: 599px) {
  .input-form-container {
    grid-template-columns: 1fr 1fr;
  }

  input[type='radio'] {
    width: 1.2rem;
    margin: 0rem !important;
  }

  label {
    font-size: 0.8rem;
  }

  /* address side properties */
  .qsl-card-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0.1rem;
    border: black solid 1px;
    padding: 1rem;
  }

  .qsl-card-content {
    font-weight: 700;
    font-size: 0.8rem;
  }

  .qsl-card-label {
    font-weight: 300;
    font-size: 0.6rem;
  }

  .stamp-block {
    visibility: hidden;
  }
  /* end address side properties */
}

@media screen and (min-width: 600px) {
  .input-form-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  input[type='radio'] {
    width: 1.1rem;
    margin: 0rem !important;
  }

  /* FROM (main)*/
  #qsl-parentdiv-my-name {
    position: absolute;
    width: fit-content;
    top: 10px;
    left: 20px;
    display: flex;
    flex-direction: column;
  }

  #qsl-parentdiv-my-callsign {
    position: absolute;
    width: fit-content;
    top: 51px;
    left: 20px;
    display: flex;
    flex-direction: column;

    div {
      font-size: 0.74rem;
    }
  }

  #qsl-parentdiv-return-city {
    position: absolute;
    width: fit-content;
    top: 92px;
    left: 20px;
    display: flex;
    flex-direction: column;
  }

  #qsl-parentdiv-return-county {
    position: absolute;
    width: fit-content;
    top: 133px;
    left: 20px;
    display: flex;
    flex-direction: column;
  }

  #qsl-parentdiv-return-country {
    position: absolute;
    width: fit-content;
    top: 173px;
    left: 20px;
    display: flex;
    flex-direction: column;
  }

  #qsl-parentdiv-return-state {
    position: absolute;
    width: fit-content;
    top: 184px;
    left: 20px;
    display: flex;
    flex-direction: column;
  }
  /* end from main */

  /* FROM (other) */
  #qsl-parentdiv-my-cq-zone {
    position: absolute;
    width: fit-content;
    top: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #qsl-parentdiv-my-arrl-section {
    position: absolute;
    width: fit-content;
    top: 51px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
      font-size: 0.74rem;
    }
  }

  #qsl-parentdiv-my-grid {
    position: absolute;
    width: fit-content;
    top: 92px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
      font-size: 0.74rem;
    }
  }

  /* TO (main) */
  #qsl-parentdiv-ur-name {
    position: absolute;
    width: 336px;
    bottom: 63px;
    right: 20px;
    display: flex;
    flex-direction: column;

    div,
    label {
      text-align: right;
    }
  }

  #qsl-parentdiv-ur-callsign {
    position: absolute;
    width: fit-content;
    bottom: 63px;
    left: 20px;
    display: flex;
    flex-direction: column;

    div {
      font-size: 0.74rem;
      text-align: left;
    }
  }

  #qsl-parentdiv-ur-country {
    position: absolute;
    width: fit-content;
    top: 143px;
    left: 20px;
    display: flex;
    flex-direction: column;
  }
  /* end to main */

  /* QSO Data */
  #qsl-parentdiv-date {
    position: absolute;
    width: fit-content;
    bottom: 113px;
    left: 270px;
    display: flex;
    flex-direction: column;

    div,
    label {
      text-align: center;
    }
  }

  #qsl-parentdiv-time {
    position: absolute;
    width: fit-content;
    bottom: 113px;
    left: 358px;
    display: flex;
    flex-direction: column;

    div,
    label {
      text-align: center;
    }
  }

  #qsl-parentdiv-band-mhz {
    position: absolute;
    width: fit-content;
    bottom: 12px;
    left: 20px;
    display: flex;
    flex-direction: column;

    div,
    label {
      text-align: center;
    }
  }

  #qsl-parentdiv-mode {
    position: absolute;
    width: fit-content;
    bottom: 12px;
    left: 112px;
    display: flex;
    flex-direction: column;

    div,
    label {
      text-align: center;
    }
  }

  #qsl-parentdiv-signal {
    position: absolute;
    width: fit-content;
    bottom: 12px;
    left: 192px;
    display: flex;
    flex-direction: column;

    div,
    label {
      text-align: center;
    }
  }

  #qsl-parentdiv-exchange {
    position: absolute;
    width: 220px;
    bottom: 12px;
    right: 20px;
    display: flex;
    flex-direction: column;

    div,
    label {
      text-align: right;
    }
  }

  #qsl-parentdiv-pse-tnx {
    position: absolute;
    width: fit-content;
    bottom: 113px;
    right: 20px;
    display: flex;
    flex-direction: column;

    div,
    label {
      text-align: center;
    }
  }
  /* end strict-positioning */

  .qsl-card-block {
    /* set for 4x6 card - should change this to be dynamic */
    width: 100%;
    height: 100%;
    position: relative;
    border: black solid 1px;
    margin: 0;
    padding: 0;
    background-image: url('/background676x380.png');
    background-size: cover;
  }

  .qsl-card-container {
    min-width: 650px;
    max-width: 650px;
    min-height: 430px;
    max-height: 430px;
    margin: 0;
    padding: 0;
  }

  .qsl-card-content {
    font-weight: 700;
    font-size: 0.7rem;
  }

  .qsl-card-infocell {
    background-color: rgba(220, 220, 220, 0.9);
    border-radius: 4px;
    padding: 1px 6px;
  }

  .qsl-card-label {
    font-weight: 300;
    font-size: 0.5rem;
  }

  /* temp css for address side of postcard */

  .address-card-container {
    min-width: 650px;
    max-width: 650px;
    min-height: 430px;
    max-height: 430px;
    margin: 0;
    padding: 0;
  }

  .address-card-block {
    /* set for 4x6 card - should change this to be dynamic */
    position: relative;
    height: 100%;
    width: 100%;
    border: black solid 1px;
  }

  .return-person-block-class {
    max-width: fit-content;
    padding: 0.3rem 1rem;
    border-right: black solid 1px;
  }

  .addressee-block-class {
    position: absolute;
    max-width: fit-content;
    padding: 0.3rem 1rem;
    right: 0px;
    bottom: 30px;
    border-top: black solid 1px;
  }

  .stamp-block {
    position: absolute;
    width: max-content;
    height: max-content;
    top: 10px;
    right: 10px;
    text-align: center;
    border: black dotted 1px;
  }

  .stamp-content {
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
  }

  .qsl-card-and-address {
    display: flex;
    justify-content: space-around;
    margin: 0.4rem 0.2rem;
  }
}

@media screen {
  button {
    font-size: 1rem;
    width: fit-content;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    margin: 0.2rem 0.3rem;
    padding: 0.2rem 0.3rem;
  }

  input {
    font-size: 1rem;
    border: black dotted 1px;
    border-radius: 6px;
    padding: 0.1rem 0.3rem 0.1rem 0.3rem;
  }

  main {
    margin: 0.5rem;
    height: fit-content;
  }

  .footer-text,
  .header-nav {
    display: flex;
    justify-content: space-around;
    font-size: 0.8rem;
    align-items: center;
    padding: 0.5rem;
    border-top: black solid 1px;
    border-bottom: black solid 1px;
  }

  .footer-text {
    margin-top: 0.4rem;
  }

  .header-nav {
    margin-bottom: 0.4rem;
  }

  .input-form-container {
    display: grid;
    grid-column-gap: 12px;
    grid-row-gap: 4px;
    margin-top: 0.2rem;
  }

  .psetnx-container {
    margin: 0.1rem;

    label {
      margin-right: 1rem;
    }
  }

  .separator-bar {
    height: 0.4rem;
    border-top: black solid 1px;
    border-bottom: black solid 1px;
    margin: 0.5rem 0rem;
  }
}
