@media print {
  body {
    font-size: 12px;
    visibility: hidden;
    margin: 0px;
    padding: 0px;
  }

  .qsl-card-container {
    /* 4x6 card */
    min-width: 652px;
    max-width: 652px;
    min-height: 434px;
    max-height: 434px;
    margin: 0;
    padding: 0;
    page-break-after: always !important; /* qsl card on one page */
    visibility: visible;
    display: block;
    /* use absolute url for background image */
    background: url('http://localhost:5173/background676x380.png') no-repeat
      center center;
    background-size: cover; /* ensure background image convers entire block */
    --webkit-print-color-adjust: exact; /* ensure background image is printed */
    print-color-adjust: exact; /* ensure background image is printed */
  }

  .qsl-card-block {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
  }

  .qsl-card-content {
    font-weight: 700;
    font-size: 0.7rem;
  }

  .qsl-card-infocell {
    background-color: rgba(220, 220, 220, 0.9);
    border-radius: 4px;
    padding: 1px 6px;
  }

  .qsl-card-label {
    font-weight: 300;
    font-size: 0.5rem;
  }

  /* FROM (main)*/
  #qsl-parentdiv-my-name {
    position: absolute;
    width: fit-content;
    top: 10px;
    left: 20px;
    display: flex;
    flex-direction: column;
  }

  #qsl-parentdiv-my-callsign {
    position: absolute;
    width: fit-content;
    top: 51px;
    left: 20px;
    display: flex;
    flex-direction: column;
    div {
      font-variant: small-caps;
      font-size: 0.74rem;
    }
  }

  #qsl-parentdiv-return-city {
    position: absolute;
    width: fit-content;
    top: 92px;
    left: 20px;
    display: flex;
    flex-direction: column;
  }

  #qsl-parentdiv-return-county {
    position: absolute;
    width: fit-content;
    top: 133px;
    left: 20px;
    display: flex;
    flex-direction: column;
  }

  #qsl-parentdiv-return-country {
    position: absolute;
    width: fit-content;
    top: 173px;
    left: 20px;
    display: flex;
    flex-direction: column;
  }

  #qsl-parentdiv-return-state {
    position: absolute;
    width: fit-content;
    top: 184px;
    left: 20px;
    display: flex;
    flex-direction: column;
  }

  #qsl-parentdiv-my-city {
    position: absolute;
    width: fit-content;
    top: 92px;
    left: 20px;
    display: flex;
    flex-direction: column;
  }

  #qsl-parentdiv-my-county {
    position: absolute;
    width: fit-content;
    top: 143px;
    left: 20px;
    display: flex;
    flex-direction: column;
  }

  #qsl-parentdiv-my-state {
    position: absolute;
    width: fit-content;
    top: 184px;
    left: 20px;
    display: flex;
    flex-direction: column;
  }
  /* end from main */

  /* FROM (other) */
  #qsl-parentdiv-my-cq-zone {
    position: absolute;
    width: fit-content;
    top: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  #qsl-parentdiv-my-arrl-section {
    position: absolute;
    width: fit-content;
    top: 51px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    div {
      font-variant: small-caps;
      font-size: 0.74rem;
    }
  }

  #qsl-parentdiv-my-grid {
    position: absolute;
    width: fit-content;
    top: 92px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  /* TO (main) */
  #qsl-parentdiv-ur-name {
    position: absolute;
    width: 377px;
    bottom: 63px;
    right: 20px;
    text-align: right;
  }

  #qsl-parentdiv-ur-callsign {
    position: absolute;
    width: fit-content;
    bottom: 63px;
    left: 20px;
    div {
      font-variant: small-caps;
      font-size: 0.74rem;
    }
    text-align: left;
  }
  /* end to main */

  /* QSO Data */
  #qsl-parentdiv-date {
    position: absolute;
    width: fit-content;
    bottom: 113px;
    left: 255px;
    text-align: center;
  }

  #qsl-parentdiv-time {
    position: absolute;
    width: fit-content;
    bottom: 113px;
    left: 344px;
    text-align: center;
  }

  #qsl-parentdiv-band-mhz {
    position: absolute;
    width: fit-content;
    bottom: 12px;
    left: 20px;
    text-align: left;
  }

  #qsl-parentdiv-mode {
    position: absolute;
    width: fit-content;
    bottom: 12px;
    left: 99px;
    text-align: center;
  }

  #qsl-parentdiv-signal {
    position: absolute;
    width: fit-content;
    bottom: 12px;
    left: 165px;
    text-align: center;
  }

  #qsl-parentdiv-exchange {
    position: absolute;
    width: 230px;
    bottom: 12px;
    right: 20px;
    text-align: right;
  }

  #qsl-parentdiv-pse-tnx {
    position: absolute;
    width: fit-content;
    bottom: 113px;
    right: 20px;
    text-align: center;
  }

  /* address side of postcard */

  .address-card-container {
    display: block;
    min-width: 652px;
    max-width: 652px;
    min-height: 434px;
    max-height: 434px;
    margin: 0;
    padding: 0;
    visibility: visible;
    page-break-before: always !important; /* address card on page 2 */
  }

  .address-card-block {
    width: 490px;
    height: 34px;
    position: relative;
    border: black solid 1px;
  }

  .return-person-block-class {
    max-width: fit-content;
    padding: 0.3rem 1rem;
    border-right: black solid 1px;
  }

  .addressee-block-class {
    position: absolute;
    font-size: 1rem;
    max-width: fit-content;
    padding: 0.3rem 1rem;
    right: 0px;
    bottom: 30px;
    border-top: black solid 1px;
  }

  .qsl-card-and-address {
    margin: 0;
    padding: 0;
  }

  .stamp-block {
    position: absolute;
    width: max-content;
    height: max-content;
    top: 10px;
    right: 10px;
    text-align: center;
    border: black dotted 1px;
  }

  .stamp-content {
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
  }
  /* end address side of postcard */

  /* print button should not impact print preview */
  .print-button {
    visibility: hidden;
    display: none;
  }
}
